<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" type="text/css"	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript" th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" ></script>
 -->


<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />

<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<script type="text/javascript" th:href="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}" ></script>
<script type="text/javascript" th:href="@{/webjars/jquery/3.3.1/jquery.js}" ></script>

<!-- Working -->

<link href="/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css"  />
    <!-- <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


 
 <script type="text/javascript">

jQuery(document).ready(function($) {

	// to get the client list in drop down.
	jQuery("#client").autocomplete({		
		source: "\clientList",
		minLength: 0,
        scroll: true,
        select: function(event, ui){
        	this.value=ui.item.label;
        	$("#client").val(ui.item.label);
        	//console.log(this.value);
        	//console.log(ui.item);
        	$("#clientId").val(ui.item.value);
        	return false;
        }
	});
	
	// its check if clien field is blank then blank clientId as well
	jQuery('#client').change(function(event) {		
		//let clientLength = $('#client').val().length;
		//console.log(clientLength);
		if( $('#client').val() == "" ){
			$("#clientId").val("");
		}	
	});
			
	
	 
});

</script>


<script type="text/javascript">

$(function(){
	  $("#nav-placeholder").load("Nav");
	});
</script>

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="nav-placeholder"></div>
<div class="container">
	
	
	<form action="#" th:action="@{/AddFunds}" th:object="${onBordDto}" method="post">	
		<input id="client" type="text" class="form-control mb-4 col-4">		
		<input type="text" id="clientId" th:field="*{clientId}" placeholder="clientId" class="form-control mb-4 col-4" readonly>									
		<input type="text" th:field="*{fundName}" placeholder="Fund Short Name"	class="form-control mb-4 col-4">		
		<button type="submit" class="btn btn-info col-2">Save</button>
	</form>
</div>	
</body>
</html>