<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Onbord client</title>

<!-- <script type="text/javascript" th:href="@{/webjars/jquery/3.3.1/jquery.min.js}" ></script> -->

<!-- <script type="text/javascript" scr="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" scr="https://code.jquery.com/jquery-1.12.4.js"></script>
 -->

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:href="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:href="@{/webjars/jquery/3.3.1/jquery.js}"></script>

<!-- <script type="text/javascript" th:href="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}" ></script> -->


<!-- <script type="text/javascript" th:href="@{/webjars/jquery/3.3.1/jquery.js}" ></script> -->
<!-- <script type="text/javascript" th:href="@{/webjars/jquery/3.3.1/jquery.min.js}" ></script> -->


<!-- 
<link href="/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="/jquery/jquery-ui-1.12.1/external/jquery/jquery.js"/>
<script type="text/javascript" src="/jquery/jquery-ui-1.12.1/external/jquery/jquery.1.12.4.js"/>
<script type="text/javascript" src="/jquery/jquery-ui-1.12.1/jquery-ui.min.js"/>
 -->

<script src="/jquery/jquery-3.4.1.js"></script>

<!-- Working -->

<link href="/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet"
	type="text/css" />
<!-- <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:href="@{/webjars/popper.js/1.14.3/popper.js}"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->


<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<!-- <script type="text/javascript" src="/js/autocomplete.js"></script> -->

<script src="/js/autocomplete.js"></script>

<script type="text/javascript">
 //to load nav bar
 $(function(){
	  $("#nav-placeholder").load("Nav");
	});
	

 jQuery(document).ready(function($) {

	// to get the client list in drop down.
	/*jQuery("#client").autocomplete({
		source : "\clientList",
		minLength : 0,
		scroll : true,
		select : function(event, ui) {
			this.value = ui.item.label;
			$("#client").val(ui.item.label);
			//console.log(this.value);
			//console.log(ui.item);
			$("#clientId").val(ui.item.value);

			alert("INSID");
			jQuery.getJSON("getFundsFromClient", {
				p1 : ui.item.label
			}, function(responseData) {
				console.log(responseData);
				//var clientFunds = jQuery('#clientFunds');
				jQuery('#funds').empty();
				var clientFunds = jQuery('#funds');
				jQuery.each(responseData, function(key, value) {
					console.log(value.label + " >> "+value.value);										
					jQuery('<option id =' +value.value+'>').val(value.value)
            	    .text(value.label).appendTo(clientFunds);			
				});

			});
			return false;
		}
	});
	 */
	//label	value
			
	$("#funds").select2({
		  maximumSelectionLength: 2
		});

	$("#funds").select2({
		  placeholder: 'Select Funds',
		  allowClear: true
		});
	
	
	
	
	$("#frequency").select2({
		  maximumSelectionLength: 2
		});

	$("#frequency").select2({
		  placeholder: 'Select Frequency',
		  allowClear: true
		});
	
	// its check if clien field is blank then blank clientId as well
	jQuery('#client').change(function(event) {		
		//let clientLength = $('#client').val().length;
		//console.log(clientLength);
		if( $('#client').val() == "" ){
			$("#clientId").val("");
		}	
	});
			
	
	 
});

</script>



</head>
<body>

	<div id="nav-placeholder"></div>
	
	<br>
	<div class="container">

		<!-- 	<form action="#" th:action="@{/AddOnBordDetails}" th:object="${onBordDto}" method="post">
		
		<input id="client" type="text" class="form-control mb-4 col-4">
		
		<input type="text" id="clientId" th:field="*{clientId}" placeholder="clientId" class="form-control mb-4 col-4" readonly>
		
		<input list="client_search" class="form-control mb-4 col-4" type="search" placeholder="search" aria-label="Search" name="search">
		<datalist id="client_search">
			<option>A</option>
			<option>B</option>
			<option>C</option>
			<option>X</option>
		</datalist>
		</input>
					
		<input type="text" th:field="*{fundName}" placeholder="Fund Short Name"
		class="form-control mb-4 col-4">
		<input type="text" th:field="*{}" placeholder="">
		<input type="text" th:field="*{}" placeholder="">
		<button type="submit" class="btn btn-info col-2">Save</button>
	</form> -->

	<h3>Client Onboard</h3>
	<hr>
	

	<!-- Testing
	<hr> -->

	<form action="#" th:action="@{/AddOnBordDetails}" th:object="${onBordDto}" method="post">
		RiskAggregator
		<select id="riskAggregator" class="form-control mb-4 col-4" th:field="*{riskAggregatorId}">
			<option value="0">Select RiskAggregator</option>			
		</select>
		<p th:if="${#fields.hasErrors('riskAggregatorId')}" th:errors="*{riskAggregatorId}"></p>	
		<!-- <p th:unless="${#fields.hasErrors('riskAggregatorId')}" th:text="TEST"></p> -->	
		Client	
		<input id="client" type="text" class="form-control mb-4 col-4">
		<input type="text" id="clientId" th:field="*{clientId}"	placeholder="clientId" class="form-control mb-4 col-4" readonly>
		<p th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}"></p>
		Funds
		<br>
		<select class="form-control mb-4 col-4" id ="funds" multiple="multiple" th:field="*{fundName}" >
  		</select>
  		<p th:if="${#fields.hasErrors('fundName')}" th:errors="*{fundName}"></p>
  		<br>
  		<br>
  		Setup Date
  		<input type="date" class="form-control mb-4 col-4" th:field="*{setUpDate}">
  		<p th:if="${#fields.hasErrors('setUpDate')}" th:errors="*{setUpDate}"></p>
  		End Date
  		<input type="date" class="form-control mb-4 col-4" th:field="*{endDate}">
  		<!-- Automation Process
  		<select class="form-control mb-4 col-4" th:field="*{automationProcess}">
			<option value="-1">Select Automation Process</option>
			<option value="RiskMq">RiskMq</option>
			<option value="Cron">Cron</option>
		</select> -->
		
		Automation Process
  		<select class="form-control mb-4 col-4" th:field="*{automationProcess}">
  			<option value="-1">Select Automation Process</option>
			<option th:each="opt : ${T(com.globeop.riskfeed.enums.AutomationProcess).values()}" th:value="${opt}" th:text="${opt.displayValue}"></option>			
		</select>
		<p th:if="${#fields.hasErrors('automationProcess')}" th:errors="*{automationProcess}"></p>
			
		<!-- Is Active
		<select class="form-control mb-4 col-4" id="isActive" name="isActive">
			<option value="-1">Select is Active</option>
			<option value="A" selected="selected">Active</option>
			<option value="D">Disable</option>
		</select> -->
		Is Active		
		<select class="form-control mb-4 col-4" id="isActive" name="isActive">
			<option value="-1">Select is Active</option>
			<option th:each="opt : ${T(com.globeop.riskfeed.enums.IsActive).values()}" th:value="${opt}" th:text="${opt.displayValue}"></option>
		</select>
		<p th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}"></p>
		
  		Comments
  		<br>
  		<textarea rows="4" cols="50" name="comment" placeholder="Comments...." th:field="*{comments}"></textarea>
  		<p th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></p>
  		<br>
  		<br>
  		Frequency
  		<br>
  		<select class="form-control mb-4 col-4" id ="frequency" multiple="multiple" th:field="*{frequency}">		
			<option value="D">Daily</option>
			<option value="W">Weekly</option>
			<option value="M">Monthly</option>
		</select>
		<p th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}"></p>	
  		<br>
		<br>
		<br>
		<button type="submit" class="btn btn-info col-2">Save</button>
	</form>

</div>



</body>
</html>